PORT=5000
MONGO_URI=mongodb+srv://Inojales:09982737477@cluster-1.tw7oozf.mongodb.net/luxurygleam1
JWT_SECRET=69775974615a29c097e27377d0e9ed48545e87252748dbfd3fb5bc97da3d6b15
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=dvmjt881o
CLOUDINARY_API_KEY=155188473453623
CLOUDINARY_API_SECRET=vBOCCJo8-eSj3bshOLgDPKEhhJ0

GOOGLE_CLIENT_ID=your_google_client_id
FACEBOOK_APP_ID=your_facebook_app_id
NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_password
FROM_NAME=LuxuryGleam
FROM_EMAIL=noreply@luxurygleam.com
